@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry-3-col {
    column-count: 3;
    column-gap: 1em;
  }
  .masonry-2-col {
    column-count: 2;
    column-gap: 1em;
  }
  .break-avoid {
    break-inside: avoid;
  }
}
